
table.account_list {

}


table.account_list td {

}

table.account_list {
    border-width: thin;
    border-spacing: 1px;
    border-color: #fff;   
    border-width: 1px;

}

table.account_list td {
    vertical-align: top;
    border-width: thin;
    padding: 1px;
    border-color: #fff;
}